<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yicheng.android.app.screenrecordingwidget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".MainWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_widget_info" />
        </receiver>

        <receiver android:name=".receiver.ScreenRecordingReceiver">
            <!--   <intent-filter>
                   <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
               </intent-filter>
               <meta-data
                   android:name="android.appwidget.provider"
                   android:resource="@xml/main_widget_info" />-->
        </receiver>

        <!--     <activity android:name=".activity.MainWidgetConfigureActivity">
                 <intent-filter>
                     <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                 </intent-filter>
             </activity>-->
        <activity
            android:name=".activity.ScreenRecordingActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
